.popup{
  bottom: 10%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  color:white;
  text-align:center;
  position: fixed;
  text-align: center;
  padding: 3px 3px 5px 3px;
  width:250px;
  
  border: 1px solid rgb(253, 253, 255);
  border-radius:7px;
  background:rgb(40, 4, 247);
  animation: dropdownAnimation ease 1.5s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
}
    @keyframes dropdownAnimation {
      0%{
        transform:translateX(-200vw);
        }
      100%{
        
        left: 5%;
        }
    }
    @media (max-width:460px){
      .popup{
      width: 150px;
      font-size: 13px;
      
      } 
    }

